<app-menu></app-menu>
<div id="wapper" >
  <div class="panel">
    <h2> Cadastro <span> Usuario</span></h2>
    <br />
    <form>
      <div>
        <label for="nome">nome : </label>
        <br />
        <input type="name" class="form-control" name="nome" [(ngModel)]="nome" placeholder="Enter nome">
      </div>
      <br />
      <div>
        <label for="nome">Username : </label>
        <br />
        <input type="username" class="form-control" name="username" id="username" [(ngModel)]="username"
          aria-describedby="emailHelp" placeholder="Enter username">
      </div>
      <br />
      <div>
        <label for="email">email : </label>
        <br />
        <input type="username" class="form-control" name="email" id="email" [(ngModel)]="email"
          aria-describedby="emailHelp" placeholder="Enter username">
      </div>
      <br />
      <div class="form-group">
        <label for="senha">Password : </label>
        <br />
        <input type="password" class="form-control" name="senha" [(ngModel)]="senha" id="senha" placeholder="Password">
      </div>
      <br />
      <div class="form-group">
        <label for="perfil">perfil : </label>
        <br />
        <select class="form-select" name="perfilId" [(ngModel)]="perfilId" id="perfilId">
          <option *ngFor="let p of perfils" [value]="p.id">{{p.name}}</option>
        </select>
      </div>
      <br />
      <div class="form-group">
        <label for="ativo">ativo : </label>
        <input class="form-check-input" type="checkbox" name="ativo" [(ngModel)]="ativo" id="ativo">
      </div>
      <button type="submit" (click)="salvar()" class="button"> Salvar </button>
    </form>
  </div>
</div>
