
<app-menu></app-menu>
<div id="wapper">
  <div class="panel">

    <!-- input -->
    <div class="input-group" *ngIf="role === 'ADMIN'">
      <div class="input-group-prepend">
        <span class="input-group-text"> Nome :</span>
      </div>
        <input type="name" class="form-control" name="nome" [(ngModel)]="nome" placeholder="Enter nome do perfi">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary float-right" (click)="salvar()"><span class="pi pi-plus"></span></button>
        </div>
    </div>
    <br/>

    <!-- lista  -->
    <div class="list-group">
      <span *ngFor="let perfil of perfils">
        <a class="list-group-item list-group-item-action">
          {{perfil.name}}

        </a>
        <button mat-fab color="primary" *ngIf="role === 'ADMIN'" (click)="deletar(perfil.id)" class="btn btn-danger"
          aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </span>

    </div>
  </div>
</div>
